#banner{
    width: auto;
    height: 150px;
    background-color:   #40E0D0;
    margin-top: 15px;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    }

    nav{
        background-color: #4682B4;
        height: 25px;
        right: 22px;
        margin-top: 25px;
        padding-top: 6px;
        padding-left: 10px;
     
    }

    a{
        text-decoration: none;
        color: white;
        background-color: pink;
        padding: 6px;
        border-radius: 4px;
        margin-top: 5px;
    }

    a:hover {   
        background-color: purple;
        padding: 6px;
     
    }

    #foto {

        border-radius: 50px;
        
        background-color: rgb(218, 197, 197);
        
        border: solid 1px;
        
        width: 100px;
        
        height: 100px;

        
        
         
        
        }